body{
     background-color: white;
}
h1{
    Color: Black;
}

#box1{ 
    font-size:75px;
    background-color: darkolivegreen;
    width:20000px;
    height: 500px;
    padding-right: 2000px
}

#box2{
     background-image: 
}